#kaartsetslotdiv, #kaartsetloadinslotdiv {
  padding: 5px;
  border: 1px solid #aaaaaa;
  width: 200px;
  height: 200px;
  margin: auto;
}

.kaartsetslot {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid #aaaaaa;
}

body {
    padding: 0;
    margin: 0;
}

.card{
    text-align: center;
    margin: auto;
    width:190px;
    height:190px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.dynamischdefine {
	padding: 20px 20px 20px 20px;
}